<web-app>

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>GenericWelcomeServlet</servlet-name>
    <servlet-class>WelcomeGenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericWelcomeServlet</servlet-name>
    <url-pattern>/welcomeGeneric</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PrintOutInitParam</servlet-name>
    <servlet-class>PrintOutInitParam</servlet-class>
    <init-param>
      <param-name>name1</param-name>
      <param-value>ruban</param-value>
    </init-param>
    <init-param>
      <param-name>name2</param-name>
      <param-value>manivel</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintOutInitParam</servlet-name>
    <url-pattern>/initParam</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HttpWelcomeServlet</servlet-name>
    <servlet-class>WelcomeHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpWelcomeServlet</servlet-name>
    <url-pattern>/welcomeHttp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CustomServletFactory</servlet-name>
    <servlet-class>CustomServletFactory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomServletFactory</servlet-name>
    <url-pattern>/servletObject</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>AppName</param-name>
    <param-value>Testing Servlet Web Application</param-value>
  </context-param>

  <context-param>
    <param-name>Testing Context Param</param-name>
    <param-value>Testing Context Param</param-value>
  </context-param>

</web-app>
